.home {
  display: flex;
  align-content: space-around;
  width: 100vw;
  max-width: 800px;
  margin: 100px auto 0;
  justify-content: space-around;
}

.active {
  overflow: hidden;
}

.left {
  flex: 1;
}

.right {
  flex: 1;
  margin-top: 100px; // 模拟错位
}
