@import "../../styles/variable.scss";

.card {
  cursor: pointer;
  margin-bottom: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.active {
  cursor: default;
}

.imgWrapper {
  .img {
    display: block;
    height: 300px;
    width: 200px;
  }
  .end {
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-name: bounceIn;
    animation-delay: 0.5s;
    animation-duration: 1s;
  }
}

.activeImgWrapper {
  position: fixed;
  top: 50%;
  right: 100px;
  transform: translateY(-50%);
  .img {
    height: 600px;
    width: 400px;
  }
}

.backgroundWrapper {
  height: 300px;
  width: 200px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  z-index: -1;
  opacity: 1;
  .background {
    height: 100%;
    width: 100%;
    background: #ffffff;
    transition: all ease-in-out $transition-duration;
  }
  .init {
    opacity: 0;
  }
  .end {
    opacity: 1;
  }
}

.activeBackgroundWrapper {
  position: fixed;
  width: 100%;
  height: 100%;
}

.smallBackgroundWrapper {
  height: 210px;
  width: 240px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 120px;
  z-index: -1;
  opacity: 1;
  .smallBackground {
    height: 100%;
    width: 100%;
    background: #f3eeeb;
  }
}

.activeSmallBackgroundWrapper {
  position: fixed;
  width: 100vw;
  height: 60vh;
  top: 40%;
}

.titleWrapper {
  .title {
    transition: all ease-in-out $transition-duration;
  }
  .init {
    margin-top: 50px;
    font-size: 20px;
  }
  .end {
    margin-top: 0;
    font-size: 30px;
  }
}

.activeTitleWrapper {
  position: fixed;
  top: 35%;
  left: 15%;
}

.desc {
  font-size: 16px;
  padding: 15px;
}

.divider {
  width: 70px;
  height: 4px;
  background: #000000;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: calc(40% + 40px);
  left: 15%;
  z-index: 100;
  transition: transform ease-in-out $transition-duration $transition-duration,
    opacity ease-in-out $quick-transition-duration $transition-duration;
}

.activeDivider {
  opacity: 1;
  visibility: visible;
  transform-origin: 0 0 0;
  transform: translateY(-40px);
}

.desc2 {
  font-size: 20px;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: calc(40% + 60px);
  left: 15%;
  z-index: 100;
  transition: transform ease-in-out $transition-duration $transition-duration,
    opacity ease-in-out $quick-transition-duration $transition-duration;
}

.activeDesc2 {
  opacity: 1;
  visibility: visible;
  transform-origin: 0 0 0;
  transform: translateY(-40px);
}

:global {
  @keyframes bounceIn {
    0% {
      transform: scale3d(1, 1, 1);
    }
    50% {
      transform: scale3d(1.05, 1.05, 1);
    }
    100% {
      transform: scale3d(1, 1, 1);
    }
  }
}
