@import "../../styles/variable.scss";

.card {
  cursor: pointer;
  margin-bottom: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.active {
  cursor: default;
}
