.card {
  box-sizing: border-box;
  display: flex;
  display: flex;
  cursor: pointer;
  margin-bottom: 2%;
  justify-content: center;
  &:nth-child(2) {
    margin-top: 100px; // 模拟高度不一致
  }
  &:nth-child(2n + 1) {
    order: 1;
  }
  &:nth-child(2n) {
    order: 2;
  }
  .active {
    position: fixed;
    z-index: 100;
  }
  .item {
    position: relative;
    transform-origin: 0 0 0;
  }
  figure {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  figcaption {
    width: 100%;
    padding-left: 10%;
  }
  .img {
    transform-origin: 0 0 0;
    display: block;
    height: 300px;
    transition: all ease-in-out 0.5s;
  }
  .background {
    position: absolute;
    top: 40%;
    left: 10%;
    bottom: 50px;
    width: 80%;
    height: 40%;
    background: #f3eeeb;
    z-index: -1;
    transform-origin: 0 0 0;
    transition: all ease-in-out 0.5s;
  }
  .title {
    margin-top: 15%;
    font-size: 20px;
  }
  p {
    font-size: 14px;
  }
}
