@import "../../styles/variable.scss";

.hidden {
  visibility: hidden;
}
.doneElement {
  visibility: hidden;
}
.motionElement {
  position: fixed !important;
  transform-origin: 0 0 0;
  transition: all ease-in-out $transition-duration;
  z-index: 100 !important;
}
